.heading {
    text-align: center;
}
.image-container {
    width: 100%;
}
.image-wrapper {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
}
.image-wrapper img {
    width: 600px;
    height: 400px;
    object-fit: contain;
    border-radius: 20px;
}
.image-caption {
    text-align: center;
}
.description, .ingredients, .steps {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}