.heading {
    text-align: center;
}
.image-container {
    width: 100%;
}
.image-wrapper {
    overflow: hidden;
    border-radius: 10%;
    
}
.image-wrapper, .image-wrapper img {
    width: 600px;
    height: 400px;
}
.image-wrapper img {
    object-fit: contain;
}
.image-caption {
    text-align: center;
}
.description, .ingredients, .steps {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.description, .ingredients, .steps, .image-wrapper {
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: antiquewhite;
  }
  h1, h3, a:hover {
    color: brown
  }

  .steps > div {
    display: flex;
    flex-direction: row-reverse;
  }

  .steps > div > a, a:link, a:focus, a:active {
    color: black;
    text-decoration: none;
  }

  .steps > div > a:hover {
    font-weight: bold;
  }
    