.heading {
    text-align: center;
}

.image-container {
    margin-bottom: 20px;
}
.image-container img {
    object-fit: contain;
    width: 600px;
    height: 400px;
    border-radius: 10%;
    overflow: hidden; 
}

section {
    display: block;
}

.image-container, .recipe-container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}
.recipe-list header {
    text-align: center;
}

.recipe-list.list a {
 color: black;
 text-decoration: none;
 cursor: pointer;   
}


figcaption {
    text-align: center;
}
body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: antiquewhite;
  }
  h1, h3 {
    color: brown;
  }